.text-completed {
  color: #d1d1d1;
  text-decoration: line-through;
}

.clear-completed:hover {
  text-decoration: underline;
}

.delete-btn {
  display: none;
}

.task-item:hover .delete-btn {
  display: block;
}

.task-item input:focus {
  outline: none;
}

.filters button {
  background: none;
  cursor: pointer;
  margin-right: 10px;
}

.search-place {
  padding: 20px 0;
}

.search-place input {
  outline: none;
  padding-left: 20px;
  color: #dddcdc;
  text-decoration: initial;
}

.search-place input:focus {
  color: black;
  font-style: normal;
}

.search-place input:focus::-webkit-input-placeholder {
  opacity: 0;
}